@page "/"
@using System.Text.Json
@using System.Text
@using TmEssentials
@using TmEssentials.Razor

@inject IJSRuntime JS

<PageTitle>TmScores</PageTitle>

<ReuContainer>
    <p>
        Score files are cached leaderboards and medal ranks used between TrackMania Forever and ManiaPlanet 3 versions of Trackmania (2008-2015).
    </p>
    <p>
        They are typically cached as .gz files in these locations:
        <ul style="overflow: auto">
            <li>CampaignScores
                <ul>
                    <li><code>C:\ProgramData\TrackMania\CampaignsScores\(CAMPAIGN_ID)\(CAMPAIGN_ID)(LEAGUE_ID).gz</code></li>
                    <li><code>C:\ProgramData\TmForever\CampaignsScores\Nations\LNations(LEAGUE_ID).gz</code></li>
                    <li><code>C:\ProgramData\ManiaPlanet\CampaignsScores\(TITLE_ID)\[L](TITLE_ID)(LEAGUE_ID).gz</code></li>
                    <li><code>Maniaplanet3_Full\CommonData\CampaignsScores\(TITLE_ID)\[L](TITLE_ID)(LEAGUE_ID).gz</code></li>
                </ul>
            </li>
            <li>ChallengeScores
                <ul>
                    <li>...from <code>GetChallengesScoresAndPlayerRecords</code> master server request</li>
                </ul>
            </li>
            <li>GeneralScores
                <ul>
                    <li><code>C:\ProgramData\TrackMania\CampaignsScores\General\General(LEAGUE_ID).gz</code></li>
                    <li><code>C:\ProgramData\ManiaPlanet\CampaignsScores\General\General(LEAGUE_ID).gz</code></li>
                    <li><code>Maniaplanet3_Full\CommonData\CampaignsScores\General\General(LEAGUE_ID).gz</code></li>
                </ul>
            </li>
            <li>LadderScores
                <ul>
                    <li><code>C:\ProgramData\TrackMania\LadderScores\Multi(LEAGUE_ID).gz</code></li>
                    <li><code>C:\ProgramData\TmForever\LadderScores\Multi(LEAGUE_ID).gz</code></li>
                    <li><code>C:\ProgramData\ManiaPlanet\LadderScores\Multi\Multi(LEAGUE_ID).gz</code></li>
                    <li><code>Maniaplanet3_Full\CommonData\LadderScores\Multi\Multi(LEAGUE_ID).gz</code></li>
                </ul>
            </li>
        </ul>
    </p>
    <p>
        Further details:
        <ul>
            <li>
                <code>LEAGUE_ID</code> is a unique numeric identifier of either a zone or a group. 
                It contains scores for all of its parent zones as well.
            </li>
            <li>
                Only full zones and groups exist as score files, parent zones are typically not available for retrieval.
            </li>
            <li>
                Some score files include the L prefix, which is most often visible on the TMNF Nations scores file. 
                They are limited scores files that only provide medal rankings. 
                They also appear on demo versions of ManiaPlanet 2-3 title packs.
                The prefix most likely means "Lite".
            </li>
        </ul>
    </p>
    <div class="buttons">
        <ReuUploadButton OnUpload="UploadCampaignScores" Accept=".gz">CampaignScores</ReuUploadButton>
        <ReuUploadButton OnUpload="UploadChallengeScores" Accept=".gz">ChallengeScores</ReuUploadButton>
        <ReuUploadButton OnUpload="UploadGeneralScores" Accept=".gz">GeneralScores</ReuUploadButton>
        <ReuUploadButton OnUpload="UploadLadderScores" Accept=".gz">LadderScores</ReuUploadButton>
    </div>
    <InputText @bind-Value="fileName" class="file-name"></InputText>
    <div class="object-tree">
        <ReuObjectTree Value="scores"
                       IsExpandedByDefault="true"
                       VisualizationProvider="ProvideVisualization"></ReuObjectTree>
    </div>

    @if (scores is not null)
    {
        <div class="buttons">
            <ReuButton OnClick="ExportToGzipAsync" CssClass="export-button">Export to .gz</ReuButton>
            <ReuButton OnClick="ExportToJsonAsync" CssClass="export-button">Export to .json</ReuButton>
            <ReuButton OnClick="ExportAsRawDataAsync" CssClass="export-button">Export as raw data</ReuButton>
        </div>
    }

    <ReuTooltip IsGlobal="true"></ReuTooltip>
</ReuContainer>

@code {
    private static readonly JsonSerializerOptions jsonSerializerOptions = new()
    {
        Converters =
        {
            new JsonRecordUnitInt32Converter()
        }
    };

    private IScores? scores;
    private string? fileName;

    private void UploadCampaignScores(UploadEventArgs args)
    {
        fileName = Path.GetFileNameWithoutExtension(args.FileName);

        using var ms = new MemoryStream(args.Data);
        scores = CampaignScores.Deserialize(ms);
    }

    private void UploadChallengeScores(UploadEventArgs args)
    {
        fileName = Path.GetFileNameWithoutExtension(args.FileName);

        using var ms = new MemoryStream(args.Data);
        scores = ChallengeScores.Deserialize(ms);
    }

    private void UploadGeneralScores(UploadEventArgs args)
    {
        fileName = Path.GetFileNameWithoutExtension(args.FileName);

        using var ms = new MemoryStream(args.Data);
        scores = GeneralScores.Deserialize(ms);
    }

    private void UploadLadderScores(UploadEventArgs args)
    {
        fileName = Path.GetFileNameWithoutExtension(args.FileName);

        using var ms = new MemoryStream(args.Data);
        scores = LadderScores.Deserialize(ms);
    }

    private RenderFragment? ProvideVisualization(object? value)
    {
        if (value is ReuObjectTreeMember member
            && member.Property.DeclaringType == typeof(HighScore)
            && member.Property.Name == "Nickname")
        {
            return builder =>
            {
                builder.OpenComponent(0, typeof(FormattedText));
                builder.AddAttribute(1, "Text", member.Value);
                builder.CloseComponent();
            };
        }

        if (value is ReuObjectTreeItem item && item.Value is HighScore highScore)
        {
            return builder =>
            {
                builder.AddMarkupContent(0, $"{highScore.Rank}) {(highScore.Score == -2 ? default(TimeInt32?) : new TimeInt32(highScore.Score))} by ");
                builder.OpenComponent(1, typeof(FormattedText));
                builder.AddAttribute(2, "Text", highScore.Nickname);
                builder.CloseComponent();

                if (!string.IsNullOrEmpty(highScore.GhostUrl))
                {
                    builder.AddMarkupContent(3, $" <small><a href=\"{highScore.GhostUrl}\" target=\"_blank\" onclick=\"event.stopPropagation()\">(download)</a></small>");
                }
            };
        }

        return null;
    }

    private async Task ExportToGzipAsync()
    {
        if (scores is null)
        {
            return;
        }

        using var stream = new MemoryStream();
        scores.Serialize(stream);
        stream.Seek(0, SeekOrigin.Begin);

        using var streamRef = new DotNetStreamReference(stream);

        await JS.InvokeVoidAsync("downloadFileFromStream", fileName + ".gz", streamRef);
    }

    private async Task ExportToJsonAsync()
    {
        if (scores is null)
        {
            return;
        }

        using var stream = new MemoryStream();
        await JsonSerializer.SerializeAsync(stream, scores, scores.GetType(), jsonSerializerOptions);
        stream.Seek(0, SeekOrigin.Begin);

        using var streamRef = new DotNetStreamReference(stream);

        await JS.InvokeVoidAsync("downloadFileFromStream", fileName + ".json", streamRef);
    }

    private async Task ExportAsRawDataAsync()
    {
        if (scores is null)
        {
            return;
        }

        using var stream = new MemoryStream();
        var rw = new Serialization.ScoresReaderWriter(stream, writing: true);
        scores.ReadWrite(rw);
        stream.Seek(0, SeekOrigin.Begin);

        using var streamRef = new DotNetStreamReference(stream);

        await JS.InvokeVoidAsync("downloadFileFromStream", fileName + ".dat", streamRef);
    }
}
