@inherits LayoutComponentBase
@using SimplestGitSourceGenerator

<ReuNavMenu Brand="TmScores">
    <ReuNavItem Name="Home" Href="" IconType="IconType.Home" NavLinkMatch="NavLinkMatch.All"></ReuNavItem>
    <ReuNavItem Name="About" Href="about" IconType="IconType.Info"></ReuNavItem>
    <ReuNavItem Name="NuGet" Href="https://www.nuget.org/packages/TmScores" IsNavLink="false" IconOnly="true" IconSrc="nuget.svg" IconWidth="28" IconHeight="28"></ReuNavItem>
    <ReuNavItem Name="GitHub" Href="https://github.com/BigBang1112/tm-scores" IconType="IconType.GitHub" IsNavLink="false" IconOnly="true" IconWidth="28" IconHeight="28"></ReuNavItem>
</ReuNavMenu>
<ReuMain>
    @Body
</ReuMain>
<ReuFooter>
    <CopyrightContent>
        © 2026 Petr '<a href="https://bigbang1112.cz">BigBang1112</a>' Pivoňka<br />
    </CopyrightContent>
    <ExtraContent>
        <div class="footer-discover-more">
            <code>
                @{
                    var remoteUrl = SimplestGit.RemoteUrl.EndsWith(".git") ? SimplestGit.RemoteUrl.Substring(0, SimplestGit.RemoteUrl.Length - 4) : SimplestGit.RemoteUrl;
                }
                <a href="@remoteUrl/tree/@SimplestGit.CommitHash" title="@SimplestGit.CommitDate" target="_blank">
                    @SimplestGit.CommitHash.Substring(0, 7)
                </a>
                -
                <a href="@remoteUrl/tree/@SimplestGit.Branch" target="_blank">@SimplestGit.Branch</a>
            </code>
        </div>
    </ExtraContent>
</ReuFooter>